<h1>TaSkS</h1>
<p>do stuff</p>

<% @task_list.each do |task| %>
<h2><%=task%></h2>
  <p>
    name: <%= task.name %>
  </p>
  <p>
  description: <%=task.description%>
  </p>
  <p>
    completion_date: <%= task.completion_date %>
  </p>
  <p>
    <!-- why does this work without .id and just task??? -->
    <%= link_to "View more info", task_path(task.id)  %>
  </p>
<% end %>


<p>
  <%= link_to "Create a new task", new_task_path %>
</p>
