<h2>Task Details</h2>


<h2>Task #<%=@task.id%></h2>
  <p>
    name: <%= @task.name %>
  </p>
  <p>
  description: <%= @task.description%>
  </p>
  <p>
    completion_date: <%= @task.completion_date %>
  </p>

  <p>

    <%= link_to "Edit entry", edit_task_path(@task.id)  %> |
    <%= link_to "Delete", task_path(@task.id), method: :delete, data: { confirm: "Are you sure you want to delete task: #{@task.name}?" } %>

  </p>
