<h2>Task Details</h2>

<article>
  <div class="task-title">
    <p>
      Name: <%= @task.name %>
    </p>
  </div>

  <p>
    Description: <%= @task.description%>
  </p>
  <p>
    Due Date: <%= @task.due_date %>
  </p>
  <p>
    Completion Date:
    <% if !@task.completion_date.nil? %>
    <%= @task.completion_date %>
    <%else%> Not Yet Completed
    <% end %>
  </p>
</article>

<div class="actions">
  <p>
    <%= link_to "Edit entry", edit_task_path(@task.id)  %> |
    <%= link_to "Delete", task_path(@task.id), method: :delete, data: { confirm: "Are you sure you want to delete task: #{@task.name}?" } %>
  </p>
</div>
