<!DOCTYPE html>
<html>
<head>
  <title>TaskList</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <div class="site-container">

    <header>
      <h1>TASKLIST</h1>
    </header>

    <nav>
      <div>
        <%= link_to "Add Task", new_task_path %>
      </div>
      <div>
        <%= link_to "All Tasks", tasks_path %>
      </div>
    </nav>

    <main>
      <%= yield %>
    </main>



    <footer>
      <p>&copy; 2018</p>
    </footer>
  </div>

</body>
</html>
